[Unit]
Description=Tricorder Application
After=network.target multi-user.target

[Service]
User=root
Group=root
WorkingDirectory=/home/tricorder/tricorder
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/root/.Xauthority"
ExecStart=/usr/bin/xinit /usr/bin/su tricorder -c "/home/tricorder/tricorder/.venv/bin/python3 /home/tricorder/tricorder/main.py" -- /usr/bin/Xorg :0 -keeptty vt1 -nolisten tcp -nocursor
Restart=always
RestartSec=5
KillMode=control-group
Type=simple

[Install]
WantedBy=multi-user.target